:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* position: relative; */
  min-height: 100vh;
  background-color: rgb(183, 156, 120);
}

ul {
  list-style-type: none;
}

.container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 90vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: grey;
  box-shadow: 2px 2px 2px black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  justify-content: center;
  && button {
    margin-right: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  && input {
    height: 20px;
    margin-left: 20px;
    background-color: white;
    color: black;
    padding: 12px 0px;
    padding-left: 5px;
  }
}

.meeting-card {
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
  background-color: rgb(117, 180, 22);
  margin-bottom: 10px;
  padding-left: 30px;
  && img {
    width: 50px;
    border-radius: 50%;
    float: left;
  }
}

.booking-card {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
  background-color: rgb(117, 180, 22);
  margin-bottom: 10px;
  padding-left: 30px;
}
